/*==================== Fonts ====================*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-500.ttf"), url("../fonts/Poppins-600.ttf");
}

/*==================== Variables ====================*/
:root {
  --body-font: "Poppins", sans-serif;
  --header-height: 3rem;

  /* Colors */
  --first-color: hsl(228, 67%, 53%);
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #ecf0f3;

  /* Font Size */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Z-Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*==================== Dark Color Theme ====================*/
body.dark-theme {
  /* Colors */
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

/*==================== Font Size Scale C.V ====================*/
body.scale-cv {
  /* Font Size */
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}

/*==================== Base ====================*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Button Dark/Light */
.change-theme {
  position: absolute;
  display: flex;
  font-size: 1.2rem;
  color: var(--text-color);
  top: 2.2rem;
  right: 0;
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}

/* Generate PDF Button */
.generate-pdf {
  position: absolute;
  display: none;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--first-color);
  cursor: pointer;
}

/* Reduce Size and Print on A4 Sheet */
.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none;
}
.scale-cv .container {
  max-width: 595px;
}
.scale-cv .section {
  padding: 1.5rem 0 0.8rem;
}
.scale-cv .section-title {
  margin-bottom: 0.75rem;
}
.scale-cv .resume-left,
.scale-cv .resume-right {
  padding: 0 1rem;
}
.scale-cv .home-img {
  width: 90px;
  height: 90px;
}
.scale-cv .home-container {
  gap: 1.5rem;
}
.scale-cv .home-data,
.scale-cv .education-data {
  gap: 0.25rem;
}
.scale-cv .home-address,
.scale-cv .socials-container {
  gap: 0.75rem;
}
.scale-cv .home-icon,
.scale-cv .socials-icon,
.scale-cv .interests-icon {
  font-size: 1rem;
}
.scale-cv .education-year {
  padding-right: 0.5rem;
}

.scale-cv .skills-name {
  margin-bottom: 0.5rem;
}
.scale-cv .interests-container {
  column-gap: 2rem;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
  margin: 0 0 var(--header-height) 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*==================== Current Styles ====================*/
.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  left: 0;
  bottom: 0;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  z-index: var(--z-fixed);
  transition: 0.4s ease-in-out;
}
.section {
  padding: 1.5rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

/*==================== Navbar ====================*/
.nav {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 968px) {
  .nav-menu {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
    transition: 0.4s ease-in-out;
  }
}

.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav-logo span {
  color: var(--first-color);
}
.nav-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-item {
  text-align: center;
}
.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  transition: 0.2s ease-in-out;
}
.nav-link:hover {
  color: var(--title-color);
}
.nav-icon {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Active Link */
.active-link {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  bottom: var(--header-height);
}

/*==================== Home ====================*/
.home {
  position: relative;
}
.home-container {
  gap: 3rem;
}
.home-data {
  gap: 0.5rem;
  text-align: center;
}
.home-img {
  width: 120px;
  height: 120px;
  border-radius: 1rem;
  justify-self: center;
  margin-bottom: 0.5rem;
}
.home-title {
  font-size: var(--h1-font-size);
}
.home-profession {
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}
.home-address {
  gap: 1rem;
}
.home-information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}
.home-icon {
  color: var(--first-color);
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
.home-button-mobil {
  display: inline-block;
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: 2px solid var(--text-color);
  border-radius: 0.25rem;
  transition: 0.4s ease-in-out;
}
.home-button-mobil:hover {
  color: var(--container-color);
  background-color: var(--text-color);
}

/*==================== Social ====================*/
.socials-container {
  grid-template-columns: max-content;
  gap: 1rem;
}
.socials-link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.socials-link:hover {
  color: var(--title-color);
}
.socials-icon {
  color: var(--first-color);
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

/*==================== Profile ====================*/
.profile-description {
  text-align: center;
}

/*==================== Education ====================*/
.education-data {
  gap: 0.5rem;
}
.education-title {
  font-size: var(--h3-font-size);
}
.education-studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.education-year {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
}

/*==================== Skills & Languages ====================*/
.skills-content,
.languages-content {
  grid-template-columns: repeat(2, 1fr);
}
.languages-content {
  gap: 0;
}
.skills-name,
.languages-name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.skills-circle,
.languages-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
.languages-level div {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
}

/*==================== References ====================*/
.references-content {
  gap: 0.25rem;
}
.references-subtitle {
  color: var(--text-color-light);
}
.references-title {
  font-size: var(--h3-font-size);
}
.references-subtitle,
.references-link {
  font-size: var(--smaller-font-size);
}
.references-link {
  color: var(--first-color);
}

/*==================== Interests ====================*/
.interests-container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}
.interests-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.25rem;
}

/* Scroll Top */
.scrolltop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  bottom: -20%;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  box-shadow: 0 1px 5px hsla(228, 67%, 53%, 0.25);
  border-radius: 0.4rem;
  visibility: hidden;
  z-index: var(--z-tooltip);
  transition: 0.4s ease-in-out;
}
.scrolltop-icon {
  font-size: 1.2rem;
  color: var(--first-color);
}

/* Show Scroll Top */
.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

/*==================== Responsive Media Queries ====================*/
/* Small Device */
@media screen and (max-width: 320px) {
  .nav-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

/* Medium Device */

/* Large Device */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .header,
  .scrolltop {
    display: none;
  }

  .generate-pdf {
    display: inline-block;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  .resume-left {
    background-color: var(--container-color-alt);
  }
  .resume-left,
  .resume-right {
    padding: 0 1.5rem;
  }
  .section-title,
  .profile-description {
    text-align: initial;
  }

  .home-container {
    gap: 1.5rem;
  }
  .home-button-mobil {
    display: none;
  }
  .languages-content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }
  .interests-container {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }
}
